@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: #141414;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80px;
    width: 90rem;
    width: 100%;
    position: fixed;
    top: 0;
    
    /* border: solid red 10px; */
    /* padding-right: 20%;
    padding-left: 20%; */
  }
  .header {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



#header-line {
  width: 100%;
  position: fixed;
  top: 80px;
  height: 0px;
  opacity: 0.5;
  background-color: rgb(204, 204, 204);
  
}

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header-links li {
    /* margin: 0 1rem; */
    display: flex;
    align-items: center;
    font-weight: 500;
    
    /* border: solid red 2px; */
    
    
    margin-left: 2rem
  }
   .header-links img {
    width: 24px;
    height: 24px;
    margin-top: 5px;
   }
    
  
  
  nav li a {
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #E6E6E6;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  nav li a:hover {
    color: #ccc;
  }

  nav {
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    width: 90rem;
    
  }

  .the-best {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    /* font-style: italic; */
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    min-width: 190px;
  }

  Link {
    text-decoration: none;
  }

  @media only screen and (max-width: 768px) {
    .header-links {
      display: none;
    }
    header {
      padding-left: 5%;
      padding-right: 5%;
    }
  }

  @media only screen and (min-width: 768px) {
    .header-mobile-icon {
      display: none;
      }
    }

  .numberOfCartItemsHeader {
    
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
  }

  .numberOfCartItemsHeader p {
    font-weight: 600;
    font-size: 10px;
    


    
    /* border: solid red 1px; */
    width: 20px;
    padding-left: 1px;
    background-color: #1B65FF;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    
  }


